<h1>Contact</h1>
<form>
  <div class="form-group">
    <label for="full_name">Full name</label>
    <input type="text" class="form-control" id="full_name" placeholder="Full Name">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="content">Content</label>
    <textarea name="content" class="form-control" id="content" placeholder="Content"></textarea>
  </div>
    <%= recaptcha_tags %>
  <input type="submit" class="btn btn-success" value="Send">
</form> 